
.about-main-container{
  display: grid;
  grid-template-columns: 27% 3% 50% 20%;
  grid-template-rows: auto auto;
  /* height: 100vh; */
  /* border: solid 2px black; */
}
/* .dve{
  border: solid 2px black;

} */
.first{
  
  background-image: url('../assets/Vector 5.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  
}
.hand-image{
  width: 110%;
  height: 100%;
  
}
.dve2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  align-items: center;
}
.heading{
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.para{
  font-size: 16px;
  color: #555;
  text-align: center;
  
}
.span1{
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.last-image{
  width: 220%;
  height: 100%;
  
}
.second-con-image{
  width: 100%;
  height: 100%;
  
}
.second-last-image{
  width: 100%;
  height: 100%;
}
.dve3{
  display: flex;
  align-items: center;

}
.dve4{
  display: flex;
  
  justify-content: center;
  align-items: center;
  rotate: 45deg;
}
.dve6{
  display: flex;
  rotate: 45deg;
  justify-content: start;
  align-items: center;
}
.dve5{
  display: flex;
  
  justify-content: center;
  align-items: center;
  padding: 10px;
  }
  .social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    list-style-type: none;

  }
  .list-each{
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid black;
    color:black;
    
    transition: background-color 0.3s ease;
  }
  .list-each:hover{
    background-color: #0056b3;
    color: white;
  }
  @media screen and (max-width:576px) {
    .para{
     
      font-size: x-small;
      text-align: center;
    }
    .span1{
  font-weight: bold;
  font-size: x-small;
  color: #333;
}
.heading{
  font-size: small;
  font-weight: bold;
  color: #333;
  
  text-align: center;
  margin-bottom: 10px;
}
.list-each{
    /* margin: 10px; */
    padding: 4px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }
  .social-icons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    list-style-type: none;
    margin-right: 20px;
  }
  .second-last-image{
  display: none;
}
.second-con-image{
  display: none ;
}
}
