.main-container{
  display: grid;
  /* border: 2px solid black; */
  /* background-color: rgb(183, 193, 193); */
  grid-template-columns: 10% 40% 10% 40%; 
  height: 100vh;
  grid-template-rows: auto auto ;
  
}
.hellow{
  display: grid;
  

  grid-template-rows: auto ;
   /* border: 2px solid black; */
  

  
  
  /* background-color: bisque; */
  /* border: 1px solid black; */
}
.hellow2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hayhand{
  background: linear-gradient(to right, #6DE7E0, #B2B8BA);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 180px;
  height: 60px;
  text-align: start;
  align-content: center;

}
.hay{
  font-size: 25px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  
 
  
 
}
.hand{
  color: yellow;
}

.name{
  
  width: 300px;
  height: 83px;
  font-weight: bold;
  font-size: 20px;
  
}
.spancs{
  font-size: 28px;
  color: darkorange;
}
.description1{
   color: #333;
   font-size: 18px;
  
}
.hellow4{
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  
  
}
.photo{
  width: 110%;
  height: 110%;
  

}
.hellow5{
  display: flex;
  
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* background-color: bisque; */
  
  
}
.list-items{
  list-style-type: none;

  /* border-radius: 50%; */
  
  
}
.list-items :hover{
  background-color: #0056b3;
  color: white;
 

  
  
  
}
.eachsymbal{
  /* background-color:rgb(185, 185, 248); */
  border-radius: 50%;
 border: 2px solid black;
  padding: 10px;
  margin: 5px;
  
  

}
.button-container{
  
 
 
  
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  
}
.button1{
  background-color: rgba(230, 111, 7, 0.745);
  color: white;
  border-radius: 5px;
}
.button2{
  background-color: rgba(16, 16, 16, 0.745);
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .button-container{
  
 
 
  
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  
}
.hellow0{
  display: flex;
  
}
.gmail{
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-decoration: underline;

}




}

    
